
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  div.nav
    a(href="http://azat.co") «« Azat's Home
    | &nbsp;
    a(href=contents.index.url) « Blog Home
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)
    | ,&nbsp;
    span= moment.utc(page.date).format('MMMM DD, YYYY')

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href="http://azat.co") «« Azat's Home
    | &nbsp;
    a(href=contents.index.url) « Blog Home
